@model IEnumerable<QuestionForUs>

@{
    ViewData["Title"] = "Index";
}

<h2>Question For Us</h2>

@{
    if (!Model.Any())
    {
        <h3>No records were found</h3>
    }
    else
    {
        Html.AntiForgeryToken();
        foreach (var item in Model)
        {
            <div style="display: inline-block;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@item.text_field_controller @item.text_field_controller_0</strong>
                    </div>
                    <div class="panel-body">
                        <p>
                            <a asp-action="BuildXml" asp-route-id="@item.id">View XML</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
}